Source: avalabs-gecko
Section: misc
Priority: optional
Maintainer: builds <builds@avalabs.org>

Package: avalabs-gecko
Architecture: amd64
Depends: ${shlibs:Depends} libuv1
Description: AVALabs Gecko a Golang implementation of an AVA Node